.bg{text-align: center;
    height: 55.5px; 
    background-image: linear-gradient(to right, #054b0a,  #8aff90, #8abbca, #5b84ff);
    padding: 0;
    margin: 0;
    position:relative;
    margin: 0;
}
