.info {
	  text-align: center;
	  text-transform: uppercase;
	  color:black;
}
div{
	background-color: white;
}
#imgDIV{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40%;
}	  

.anchor {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.buttontab1_1{
	margin-right: 5%;
  	margin-left: 5%;
  	margin-top: 5%;
  	margin-bottom: 5%;
  	width: 40%;
  	background-color: white;
  	color: black;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}